html {
    background-color: black;
    color:white;
    font-family: Verdana;
}
.header-title {
    text-align: center;
    font-weight: normal;
}

.header-title a {
    text-align: center;
}

p {
    text-align: center;
}

h2 {
    text-align: center;
}